.container>div {
    width: 100%;
    display: flex;
    gap: 80px;
}

.container>div>div span {
    opacity: 70%;
}

.container>div>div:first-child div:has(span) {
    margin-bottom: 10px;
}

.container>div>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
}

.container>div>div:first-child div:has(> a) {
    padding: 10px 20px;
}

.container>div>div:first-child div:has(> a)>a {
    color: black;
    text-decoration: none;
}

.container>div>div:first-child div:has(> a.active) {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-weight: 600;
}

.container>div>div:nth-child(2) {
    width: 100%;
}

.container>div>div:nth-child(2) div:has(> span) {
    margin-bottom: 10px;
}

.container>div>div:nth-child(2)>form {
    margin-top: 20px;
}

.container>div>div:nth-child(2)>form label {
    opacity: 70%;
}

.container>div>div:nth-child(2)>form div:has(>input) {
    margin: 6px 0 14px;
}

.container>div>div:nth-child(2)>form input:not([type="radio"]) {
    width: 98.5%;
    padding: 10px 8px;
    border-color: rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.action-button {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.action-button button {
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: large;
}

.action-button>button.btn-green {
    background-color: forestgreen;
    color: white;
}